absl-py==0.11.0
alabaster==0.7.12
atari-py==0.2.6
attrs==20.2.0
Babel==2.8.0
cached-property==1.5.2
certifi==2021.5.30
cffi==1.14.3
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
Cython==0.29.21
dataclasses==0.7
deepdiff==5.5.0
dm-env==1.3
dm-tree==0.1.5
docopt==0.6.2
docutils==0.16
entrypoints==0.3
enum34==1.1.10
fasteners==0.15
future==0.18.2
gitdb==4.0.7
GitPython==3.1.17
glfw==2.0.0
gym==0.17.3
h5py==3.0.0
idna==2.10
ImageHash==4.1.0
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==2.0.0
iniconfig==1.1.1
ipdb==0.13.4
jedi==0.17.2
Jinja2==2.11.2
jsonpickle==1.5.2
labmaze==1.0.3
lxml==4.6.1
MarkupSafe==1.1.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.3
monotonic==1.5
mpyq==0.2.5
mujoco-py==2.0.2.13
munch==2.5.0
numpy==1.19.3
numpydoc==1.1.0
olefile==0.46
ordered-set==4.0.2
packaging==20.4
patsy==0.5.1
pluggy==0.13.1
portpicker==1.4.0
progressbar==2.5
protobuf==3.13.0
py==1.9.0
py-cpuinfo==8.0.0
pycparser==2.20
pygame==2.0.1
pyglet==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
PySC2==3.0.0
pytest==6.1.2
pytest-instafail==0.3.0
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.24.0
retrying==1.3.3
s2clientprotocol==5.0.7.84643.0
s2protocol==5.0.7.84643.0
sacred==0.8.2
scipy==1.5.3
seaborn==0.9.0
six==1.15.0
sk-video==1.1.10
smmap==4.0.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboardX==2.0
toml==0.10.1
torch==1.8.0+cu111
torchaudio==0.8.0
torchvision==0.9.0+cu111
tornado==6.0.4
urllib3==1.25.11
websocket-client==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
xlwt==1.3.0
zipp==3.4.0